---
export const prerender = false;
import Layout from '../../layouts/Layout.astro';
import DogDetails from '../../components/DogDetails.svelte';

const { id } = Astro.params;
const dogId = parseInt(id || '0');

const props = { dogId };
---

<Layout title="Dog Details - Tailspin Shelter">
  <div class="py-8">
    <DogDetails client:load dogId={dogId} />
    
    <div class="mt-8">
      <a href="/" class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-lg transition-all duration-300 inline-flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
        </svg>
        Back to All Dogs
      </a>
    </div>
  </div>
</Layout>